.v-lst-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}


.v-lst-anim-wrapper {
    height: 100%;
    display: flex;
    flex: 1;
    overflow: hidden;
}

.v-lst-config-panel {
    display: flex;
    flex-direction: column;
}

.v-lst-placeholder {
    font-size: 25px;
    color: lightgray;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    padding: 4px 2px;
    border: 2px dashed lightgray;
}

.v-lst-title {
    font-size: 16px;
    margin-bottom: 8px;
}

.v-lst-config-console {
    display: flex;
    flex-direction: row;
}