.v-mls-container .ant-row > div {
    padding: 0 8px;
}

.v-mls-container .ant-spin-container {
    width: 100%;
}

.v-mls-anim-wrapper {
    height: 100%;
    display: flex;
    flex: 1;
    overflow: hidden;
}

.v-mls-placeholder {
    font-size: 25px;
    color: lightgray;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    padding: 4px 2px;
    border: 2px dashed lightgray;
}