.c-cls-container .ant-row > div {
  padding: 0 8px;
}

.c-cls-container .ant-spin-container {
    width: 100%;
}

.c-cls-row {
    margin-bottom: 8px;
}

.c-cls-button {
    margin: 0 8px;
    flex: 1;
}