.c-dl-container {
    min-width: 240px;
    width: 240px;
    height: 100%;
    padding-right: 24px;
    margin-right: 16px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.c-dl-container::after {
    content: '';
    width: 1px;
    height: 95%;
    background: #E9E9E9;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto 0;
}

.c-dl-group-selector {
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.c-dl-label {

}

.c-dl-selector {
    width: 100px;
}

.c-dl-wrapper {
    width: 100%;
    border: 1px solid #E9E9E9;
    border-radius: 4px;
    margin: 5px 0;
    display: flex;
    flex: 1;
    flex-direction: column;
    overflow: hidden;
}

.c-dl-title {
    width: 100%;
    font-size: 16px;
    color: #404040;
    text-align: center;
    align-self: center;
    margin: 8px 0;
    padding: 2px 0;
    position: relative;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}
.c-dl-title::after {
    content: '';
    width: 80px;
    height: 1px;
    background: #404040;
    display: block;
    margin: auto;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

/* Spin组件 */
.ant-spin-nested-loading {
    display: flex;
    flex: 1;
    overflow: auto;
}


.c-dl-parent-node .ant-tree-iconEle {
    display: none !important;
}

.c-dl-child-node .ant-tree-iconEle {
    width: 8px !important;
    height: 8px !important;
    border-radius: 8px !important;
    margin: 0 10px 4px 0 !important;
    display: inline-block !important;
}
.c-dl-child-node.c-dl-connect-node .ant-tree-iconEle{
    background: #00a854;
}
.c-dl-child-node.c-dl-disconnect-node .ant-tree-iconEle{
    background: #d9d9d9;
}
