.c-gcs-lsc-container {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.c-gcs-lsc-config-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.c-gcs-lsc-config {
    width: 180px;
    margin: 5px 0px;
    display: flex;
    justify-content: space-between;
}

.c-gcs-lsc-label {
    line-height: 28px;
}

.c-gcs-lsc-selector {
    width: 90px;
}

.c-gcs-lsc-button-group {
    margin: 8px 0;
    display: flex;
    flex-direction: row;
}

.c-gcs-lsc-button {
    margin: 8px;
}